*{
    margin: 0%;
   
}
input{
    background-color: rgb(57, 57, 57);
    color: white;
    padding: 5px;
    text-align: start;
    margin-top: 50px;
    margin-left: 380px;
    margin-right: 50px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 220px;
    border: none;
    box-shadow: inset -4px -4px 7px rgb(76, 74, 74),
                inset 4px 4px 7px rgb(76, 74, 74);
    border-radius: 5pt;
}
div{
    text-align: center;
    
    color: white;
    
}
.lion{
    background-color: rgb(57, 57, 57);
    height: 100px;
    width: 100px;
    border-radius: 5pt;
    padding-left: 50px;
    margin-left: 30px;
    padding-bottom: 200px;

}
.tiger{
    background-color: #2F4F4F;
    height: 50px;
    width: 100px;
    margin-top: -400px;
    padding-left: 1000px;
    padding-right: 50px;

}
.war1{
    background-color: rgb(57, 57, 57);
    height: 80px;
    width: 80px;
    border-radius: 5pt;
    padding-left: 50px;
    margin-left: 100px;
    margin-right: -550px;
    margin-bottom: -100px;
    margin-top: 100px;
    
}
.war2{
    background-color: rgb(57, 57, 57);
    height: 80px;
    width: 80px;
    border-radius: 5pt;
    padding-left: 50px;
    margin-left: 200px;
    margin-top: 20px;
    
}
.war3{
    background-color: rgb(57, 57, 57);
    height: 80px;
    width: 80px;
    border-radius: 5pt;
    padding-left: 50px;
    margin-right: 262px;
    margin-top: -80px;
      
}
.war4{
    background-color: rgb(57, 57, 57);
    height: 90px;
    width: 550px;
    border-radius: 5pt;
    padding-left: 50px;
    margin-left: 300px;
    margin-top: 78px;
     
}