
h3{
   margin-left: 20px;
   padding-bottom: -50px;
   margin-bottom: 1px;
   display: inline;
}
input{
    margin-left: 15px;
    margin-top: -25px;
    padding-left: 0;
}
h4{
    color: red; 
    margin-left: 1px;
    margin-top: -10px; 
    display: inline;
}
h5{
    margin-left: 20px;
}
textarea{
    margin-left: 15px;
    margin-bottom: 1px;  
}
div{
    margin-left: 15px;
    display: inline;
}
div1{
    margin-left: 162px;
    margin-bottom: 10px;
}
h5{
    margin-left: 15px;
    padding-bottom: -30px;
    margin-bottom: 5px;
    
}
.one{
    margin-left: -5px;
}
.two{
    margin-left: 2px;
    border-left: 100;
}
.three{
    margin-left: 3px;
}
.four{
    margin-left: -5px;
}
.five{
    margin-left: px;
    color: rgb(252, 150, 16);
    display: inline;
    
}
h2{
    margin-left: 12px;
    margin-top: 2px;
    margin-bottom: -25px;
}
.six{
    margin-top: 10px;
}
.seven{
    margin-left: 15px;
}
div.eight{
    margin-left: 140px;
    padding-left: 20px;
    display: inline;
    word-spacing: 0px;
   
}
div.nine{
    background-color: rgb(220, 223, 226);
    display: block;
    margin-bottom: -15px;
    
}
div.leven{
    background-color: rgb(220, 223, 226);
    display: block;
}
div.twelve{
    display: inline;
    padding-left: 120px;
    word-spacing: 50px;
}
.thirteen{
    display: inline;
    padding-left: 130px;
    word-spacing: 50px;
}
.fourteen{
    display: inline;
    padding-left: 130px;
    word-spacing: 50px;
}
.fifteen{
    background-color: rgb(220, 223, 226);
    display: block;
}
.sixteen{
   background-color: white;
   display: block;
}
.seventeen{
    background-color: rgb(220, 223, 226);
    display: block;
}
.eighteen{
     margin-left: 50px;
     word-spacing: 50px;
}
.nineteen{
    margin-left: 60px;
    word-spacing: 50px;

}
.twenty{
    margin-left: 50px;
    word-spacing: 50px;

}
.wow1{
    padding-left: 20px;
}